nav.main-nav
	ul.main-nav__list
		li.main-nav__item(class=pageClass !== 'index' ? false : 'main-nav__item--active')
			a.main-nav__link(href=pageClass === 'index' ? false : 'index.html')
				+icon('icon-home', 'main-nav__icon main-nav__icon--home', '20', '20')
				span Главная
		li.main-nav__item(class=pageClass !== 'about' ? false : 'main-nav__item--active')
			a.main-nav__link(href=pageClass === 'about' ? false : 'about.html')
				+icon('icon-user', 'main-nav__icon main-nav__icon--user', '20', '20')
				span Обо мне
		li.main-nav__item(class=pageClass !== 'portfolio' ? false : 'main-nav__item--active')
			a.main-nav__link(href=pageClass === 'portfolio' ? false : 'portfolio.html')
				+icon('icon-suitcase', 'main-nav__icon main-nav__icon--suitcase', '20', '20')
				span Портфолио
		li.main-nav__item(class=pageClass !== 'contacts' ? false : 'main-nav__item--active')
			a.main-nav__link(href=pageClass === 'contacts' ? false : 'contacts.html')
				+icon('icon-contact', 'main-nav__icon main-nav__icon--contact', '20', '20')
				span Контакты